*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat Alternates',Verdana, 'Geneva', sans-serif;
 
}
header{
    width: 100%;
    height: 100px;
    min-height: 90px;
    padding: 10px;
    background-image: url(/final-project-w4b/img/motown-the-groups-featured.jpg);
    background-color: black;
    text-align: left;
    color: #ff5900;
}
header h1{
    background-color: black;
    float: left;
    padding: 5px;
    border-radius: 5px;
}
header h2{
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    clear: left;
    float: left;
}
nav{
    width: 100%;
    height: 75px;
    background: linear-gradient(to right,red,orange,yellow,green);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;
    font-weight: bold;
    scroll-behavior: smooth;
}
.logo {
    width: 80px;
    padding:3px 5px 5px 5px;
    float: left;
}
.logolinks ul{
    list-style-type: none;
}
.logolinks li{
    color:black;
    text-decoration: none;
    float:left;
}
.logolinks a{
    color:black;
    padding: 21px 10px 18px 10px;
    text-decoration: none;
    float:left;
}
nav ul{
    list-style-type: none;
    text-align: right;
}
nav ul a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 25px 10px 29px 10px;
}
nav ul a:hover{
    color: cadetblue;
    background-color: black;
}
nav ul a:active{
    color: red;
    background-color: white;
}
nav ul a:visited {
    color:darkslategrey;
    background-color: white;
}
nav ul a li{
    margin: 25px;
    display: inline-block;
}
main{
    height: auto;
    width: 100%;
    background-color: black;
    background-size: auto;
    background-position: center;
}
.heroText{
    width: 450px;
    height: 200px;
    color: black;
    font-size: 25px;
    text-align: center;
    z-index: 2;
    background-color: #ff5900;
    border: 3px solid black;
    padding: 45px 5px 10px 5px;
    border-radius: 10px;
    /*These 4 lines CENTERS ALL STUFF*/
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*ALLL STUFF*/
}
.heroText button{
    padding: 10px 30px;
    font-size: 25px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: black;
    color: white;
    box-shadow: 2px 3px 2px rgba(255, 255, 255, 0.445);
    margin: 0;
}
.heroText a{
  text-decoration: none;
}
.heroText a:visited{
    color:white;
}
.heroText a:hover{
    color:hotpink
}
.heroText button a:visited{
    color: red
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 0;
    padding: 20px 10px;
    clear:both;
  }
   
.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
.gallery video{
    width: 100%;
    max-width: 750px;
    border: 1px solid white;
    object-fit: contain;
    padding: 20px 10px;

}

  
article{
    width: 100%;
    height: auto;
    padding: 20px 0;
    text-align: center;
    color: #ff5900;
    background-color: black;
    clear: both;
}
fieldset{
    width: 100%;
    padding: 10px;
    border: none;
    text-align: center;
    float: left;
}
label{
    padding: 25px;
}
footer{
    width: 100%;
    height: 225px;
    font-weight: bold;
    background: linear-gradient(to right,red,orange,yellow,green);
}
.footerCol{
  width: 33%;
  height: 180px;
  padding: 0;
  border:1px solid black;
  border-bottom: none;
  float: left;
  text-align: center;
}

.footerCol ul{
    list-style-type: none;
    position: relative;
    top: 20%;
}
.footerCol ul a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    margin: 25px;
}
.footerCol ul a:hover{
    color: skyblue;
}
.footerCol ul a:active{
    color: crimson;
}
.footerCol p{
    color: black;
    position: relative;
    top: 50%;
}
.footerCol a{
    color: black;
    text-decoration: none;
    position: relative;
    top: 35%;
    margin: 15px;
}
.footerCol a li{
    text-align: left;
    padding: 20px 10px;
}